<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Inicio - Gerente</title>
   <link rel="stylesheet" href="style/gerente.css">
</head>
<body>
  <div class="container">
    
    <!-- Menu lateral -->
    <aside class="sidebar">
      <div class="perfil">
        <div class="icone"></div>
        <p>Gerente<br><strong id="nomeFuncionario"></strong></p>
      </div>
      <nav>
        <ul>
          <li class="menu"> <img src="../../img/menu/pedidos.png" alt="icone pedidos"> <a href="#" id="btnMesas" >Mesas</a></li>
          <li class="menu"> <img src="../../img/menu/produtos.png" alt="icone produtos"> <a href="#" id="btnCategorias" >Produtos e Categorias</a></li>
          <li class="menu"> <img src="../../img/menu/cadastro.png" alt="icone cadastros"> <a href="#" id="btnCadastros">Cadastro</a></li>
         <!-- <li class="menu"> <img src="../../img/menu/pedido.png" alt="icone pedidos"> <a href="#" id="btnPedidos"> Abrir Pedido</a></li> -->
        </ul>
      </nav>
    </aside>

    <!-- Conteúdo principal -->
<main class="conteudo">
       

 <!-- ######################## TELA MESAS #################################-->

         <div id="telaMesas" class="tela" style="display: none;">
          
          <div id="topMesas">
             <div id="primeiro-item">
               <h1>Mesas</h1>
                <p class="subtitulo">Clique nas mesas para visualizar os pedidos</p>
             </div>
             
             <div id="segundo-item">

              <button class="bntPadraoGreen" id="bntAbrirPedido"> Abrir Pedido</button>

             </div>
              <br>
              <hr>
              <br>
            
          </div>
   
            
            <div class="mesas-container" id="mesas-container">


            </div>
                
           
           
         </div> 
          <!-- ######################## TELA CATEGORIAS #################################-->


         <div id="telaCategorias" class="tela" style="display:none;">
            <h1>Categorias</h1>
            <p class="subtitulo">Veja as categorias disponíveis para acessar produtos e Adicionar aos pedidos</p>

            <div class="produtos-container" id="categorias-container">
               <!--
                      ################      div estatica para usar de exemplo no for each  ###################### 
              
                      <div class="produto-card" onclick="verCategoria('entradas')">
                    <div class="produto-imagem" style="background-image: url('https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?w=500');"></div>
                    <div class="produto-titulo">Entradas</div>
                </div> -->
                
            </div>
         </div>

         <!-- ######################## TELA PRODUTOS #################################-->
          <div id="telaProdutos" class="tela" style="display:none;">
             <h1>Produtos</h1>
            <p class="subtitulo">Veja os produtos disponíveis na categoria <strong><span id="nomeCategoria"></span></strong> para Adicionar aos pedidos</p>
                 <div class="produtos-container" id="produtos-container">

                  


                 </div>
          </div>
          <!-- ######################## TELA CADASTRO #################################-->

         <div id="telaCadastros" class="tela" style="display:none;">
            <h1>Cadastro</h1>
            <div class="containerConteudo">
                <p>Crie uma nova Categoria de Produtos</p>
                
                <div class="divbnt">
                <button class="bntPadrao" id="btnCadastrarCategoria">Criar Nova Categoria</button>   
                <a href="#">Editar Categorias</a>
                </div>
                <hr>
            </div>

            <div class="containerConteudo">
                <p>Crie um novo Produto</p>
                
                <div class="divbnt">
                <button class="bntPadrao" id="bntCadastrarProduto">Criar Produtos</button>   
                <a href="#">Editar Produtos</a>
                </div>
                <hr>
            </div>
            <div class="containerConteudo">
                <p>Adcione uma nova mesa para gerenciar pedidos</p>
                
                <div class="divbnt">
                <button class="bntPadrao" id="btnAdicionarMesa">Adicionar Mesa</button>   
                <a href="#"> Editar Mesas</a>
                </div>
                <hr>
            </div>
         </div>
   <!-- ######################## TELA ABRIR PEDIDO #################################
  <div id="telaPedidos" class="tela" style="display:none;">


      <div id="abrirPedido">
  
           <button class="bntPadraoGreen" id="bntAbrirPedido"> Abrir Pedido</button>

      </div>

      <div id="pedidoAberto">
            <form action="#">
              <label for="mesa">Mesa:</label>
              <input type="number" name="mesa" id="mesa">
              <button class="" id="confirmar">Confirmar</button>
            </form>
            <button class="" id="cancelar">Cancelar</button>
      </div>


          
  </div>-->




</main>


</div>

  <script src="../utils/showProducts.js"></script>
  <script src="../utils/showScreens.js"></script>
  <script src="js/gerenteView.js"></script>
</body>
</html>