*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 

}
select{
    width: 100px;
    height: 30px;
    margin-bottom: 30px;

}
.bntPadrao {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: 30px;
}
.bntPadraoGreen {
    height: 45px;
    width: 120px;
    padding: 10px 20px;
    background-color: #2F9E41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.bntPadrao:hover {
    background-color: #555;
}
.bntPadraoGreen:hover {
    background-color: #555;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 80vw;
  

}
input{
    height: 30px;
    width: 250px;
    background-color:white;
    margin-bottom: 10px;
    text-indent: 6px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

