<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/resetStyle.css">
    <title>Recuperação de Senha</title>

</head>
<body>


    <div id="form">

        <div id="formCentre">
                <h1>Recuperar Acesso</h1>
         
            <label id="labelEmail" for="email">Digite o Email cadastrado!</label>
            <input type="text" id="email" name="email"  placeholder="Email">
            <button id="enviar"  ondblclick="enviar()">Enviar código</button>


           
      

        </div>
    </div>
    <script src="rendererReset.js"></script>
</body>
</html>