body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c2c2c;
  padding: 20px;
}

.perfil {
  text-align: center;
  margin-bottom: 30px;
}

.icone {
  width: 80px;
  height: 80px;
  background-color: #444;
  border-radius: 50%;
  margin: 0 auto 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

li:hover{
    font-size: large;
    background-color: rgb(73, 73, 73);
    
}

a:hover{
    font-size: large;
    background-color: rgb(73, 73, 73);
    
}

nav a {
  color: white;
  text-decoration: none;
}
a{
    color: white;
}

.conteudo {
  flex: 1;
  padding: 50px;
}

h1 {
  margin-top: 0;
}

.botoes {
  margin-top: 30px;
}

button {
  padding: 15px 30px;
  margin-right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
button:hover{
    background-color: rgba(115, 117, 227, 1);
}
.divbnt{
   
     display: flex;
     justify-content: space-between;
     align-items: center;
}





