*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 80vw;
  

}
h2{
    margin-bottom: 15px;
    
}
input{
    height: 30px;
    width: 250px;
    background-color:white;
    margin-bottom: 10px;
    text-indent: 6px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}
select{
    
    height: 25px;
    width: 100px;
    margin-bottom: 15px;

}
button{
    margin-top: 5px;
    height: 28px;
    width: 250px;
    background-color:black;
    border-radius: 10px;
    margin-bottom: 15px;
    color: white;
}