*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html{

    background-color: white;

}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 450px;
}
#formCentre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
button{
    height: 35px;
    width: 307px;
    border-radius: 15px;
    border: 0px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
input{
    height: 38px;
    width: 310px;
    background-color: white;
    border-color: black;
    text-indent: 6px;
    border: 1px solid;
    margin-bottom: 10px;
}
input::placeholder{
   color: black;
}
label{
   margin-left: -140px;
   margin-bottom: 5px;
}
h1{
    margin: 50px;
    margin-top: -100px;
    margin-bottom: 70px;
}
