<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Categoria</title> 
    <link rel="stylesheet" href="style/cadastroProduto.css">
</head>
<body>
 <div class="container">
<form id="formCadastro">

    <label for="nome">Nome do Produto:</label>
    <input type="text" id="nome" placeholder="Nome" required>
    <label for="categoria">Categoria:</label>
    <select id="categoria" required>
        
    </select>
    <br>
    <label for="preco">Preço:</label>
    <input type="text" id="preco" placeholder="Preço" required>
     <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" placeholder="Descrição" required>



   
  

    <button id="enviar" >Cadastrar</button>

</form>
</div>
<!-- Importa o JS -->
<script src="js/cadastroProduto.js"></script>

</body>
</html>
