<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Categoria</title> 
    <link rel="stylesheet" href="style/cadastroCategoria.css">
</head>
<body>
 <div class="container">
<form id="formCadastroCategoria">

    <label for="nomeCategoria">Nome da Categoria</label>
    <input type="text" id="nomeCategoria" placeholder="Categoria" required>

    <label for="statusCategoria">Status:</label>
    <select id="statusCategoria" required>
        <option value="">Selecione</option>
        <option value="Ativa">Ativa</option>
        <option value="Inativa">Inativa</option>
    </select>

    <button id="enviarCategoria">Cadastrar</button>

</form>
</div>

<script type="module" src="js/cadastroCategoria.js"></script>

</body>
</html>
