<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Inicio - Administrador</title>
     <link rel="stylesheet" href="../../public/css/admin/admin.css">
</head>
<body>
  <div class="container">
    <!-- Menu lateral -->
    <aside class="sidebar">
      <div class="perfil">
        <div class="icone"></div>
        <p>Gerente<br><strong>Gerente</strong></p>
      </div>
      <nav>
        <ul>
          <li class="menu"><a href="#" onclick="mostrarTela('Inicial')">Tela Inicial</a></li>
          <li class="menu"><a href="#" onclick="mostrarTela('Cadastros')">Cadastro</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Conteúdo principal -->
    <main class="conteudo">
         <!-- conteudo da mesa e pedidos -->

     <div id="telaCadastros" class="tela" style="display:none;" >

            <div class="containerConteudo">
                <h1>Cadastro de Funcionário</h1>
                <p>Adicione novos funcionários</p>
                <div class="divbnt">
                  <button id="btnCadastrar" class="ativo">Cadastrar</button> 
                <a href="#">Editar Funcionarios</a>
                </div>
                <hr>
            </div>

            </div>

     </div>



    <div id="telaInicial" class="tela" style="display:none;">

      <!-- adcionar o conteudo aqui depois-->

    </div>


     </div>
    </main>
  </div>
    
    





    <script src="../../public/js/admin/admin.js"></script>
</body>
</html>