<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abrir Pedido</title>
  <link rel="stylesheet" href="style/pedido.css">
</head>
<body>

<div id="container">
    
      <div id="pedidoAberto">
            <form action="#">
              <label for="mesa">Mesa:</label>
              <input type="number" name="mesa" id="mesa">
              <label for="garcom">Garçom:</label>
              <select name="garcom" id="ListGarcom">
        
                
                
              </select>
              <button class="bntPadraoGreen" id="confirmar">Confirmar</button>
            </form>
            <button class="bntPadrao" id="cancelar">Cancelar</button>
      </div>
    
</div>

 
  </div>
  <script src="js/pedidoView.js"></script>
</body>
</html>