<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Login</title>
    <link rel="stylesheet" href="style/login.css">
   
</head>
<body>

    <div class="container">

        <div class="leftSide">
            <img src="../../img/Rectangle.png" alt="imagem de pratos suculentos a esquerda">
        </div>

        <div class="rightSide">
            <div class="centralizeRight">
                <div class="divimg">
                <img src="../../img/Group.png" alt="perfil icone">
            </div>

               
                
                    <input placeholder="Email" type="text" id="email" name="email" required >
                    <input placeholder="Senha" type="password" name="senha" id="senha" required min="4" maxlength="20">
                    <button id="entrar" type="submit">Entrar</button>
                    <a href="#" id="esqueci">Esqueci minha senha!</a>
                    
               
                
            </div>
        </div>
    </div>

</body>

   <script src="js/login.js"></script>
</html>