<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login/ForgotPassword.css">
    <title>Recuperação de Senha</title>

</head>
<body>

    <div id="form">

        <div id="formCentre">
                <h1>Recuperar Acesso</h1>
         
                <input id="token" placeholder="Digite o token">
                <input id="novaSenha" type="password" placeholder="Nova senha">
                <button id="btnReset">Redefinir Senha</button>

        </div>

    </div>
    <script src="../../public/js/login/reset.js"></script>



</body>
</html>